<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <%= link_to "Wikinimous", articles_path, class: "navbar-brand mb-0 h1" %>
      <% if params[:action] == "index" %>
        <%= link_to "Write New Article", new_article_url, class: "btn btn-outline-light my-2 my-sm-0" %>
      <% end %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
